* {
    padding: 0%;
    margin: 0%;
    font-family: 'Playfair Display', serif;
}

.header {
    background-image: url(../IMAGES/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav1stbtn {
    color: #f83fdf !important;
}

.nav1stbtn:hover {
    color: white !important;
}

.navbar-collapse {
    flex-grow: inherit;
}

.navbaritems {
    column-gap: 3rem;
}

.header .nav-item:hover {
    background-color: #f83fdf;
    border-radius: 100px;
}

.mainheading {
    margin-top: 16rem;
}

.horizontalrow {
    opacity: 1 !important;
    border: 0;
}

.headerbtn {
    background-color: #f83fdf;
}

.navlastbtn {
    color: white !important;
    background-color: #f83fdf;
}

.navlastbtn:hover {
    color: #ff00dd !important;
    background-color: rgb(255, 255, 255);
}

.eventsection .card img:hover {
    transform: scale(1.07);
}

.eventbtn {
    color: white !important;
    background-color: #f83fdf;
}

.eventbtn:hover {
    color: #ff00dd !important;
    background-color: rgb(208, 198, 198);
}

.Explore {
    background-image: url(../IMAGES/hiihihi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Explore h1 {
    margin-top: 15rem;

}

.Explore button {
    color: white !important;
    background-color: #f83fdf;
    margin-bottom: 6rem;
}

.Explore button:hover {
    color: #ff00dd !important;
    background-color: rgb(208, 198, 198);
}

.upcomingplans {
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.upcomingplans button {
    color: white !important;
    background-color: #f83fdf;
}

.upcomingplans button:hover {
    color: #ff00dd !important;
    background-color: rgb(208, 198, 198);
}

.footer {
    background-color: rgb(104, 102, 102);
}


@media (max-width:768px) {
    .horizontalrow {
        width: 50% !important;
    }

    .navbar-collapse {
        flex-grow: inherit;
        position: absolute;
        width: 5rem;
        margin-top: 16rem;
        text-align: center;
    }

    .gridimages img {
        margin-top: 2rem;
    }
}

@media (max-width:991px) {
    .navbar-collapse {
        flex-grow: inherit;
        position: absolute;
        width: 5rem;
        margin-top: 16rem;
        text-align: center;
    }
}

@media (min-width:768px) {
    .eventsection .card img:hover {
        transform: scale(1.07);
    }

    .gridimages img:hover {
        transform: scale(1.08);
    }

    .Explore h1 {
        margin-left: 9rem;
    }

    .Explore hr {
        margin-left: 19rem;
    }

    .Explore p {
        width: 80%;
        margin-left: 5rem;
    }
    .gridimages img {
        margin-bottom: 1rem;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .upcomingplans h1 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .upcomingplans hr {
        margin-bottom: 0px !important;
    }

    .upcomingplans p {
        margin-top: 0px !important;
    }
    .upcomingplans button{
        margin-top: 1rem !important;
    }

    .gridimages img {
        margin-bottom: 1rem;
    }
}